@import "tailwindcss";
@import "@fontsource/poppins"; 

@theme {
    --color-white: #F9F9F9;
    --color-blue: #014F86;
    --color-light-blue: #A9D6E5;
    --color-gray: #333533;
    --color-black: #1E1A1A;

    --font-poppins: 'Poppins', 'sans serif';
}
